{% extends 'base.html' %}
{% load i18n staticfiles bootstrap %}
{% block head_title %}{% if object %}{% trans "Update a Document" %}{% else %}{% trans "Create a new Document" %}{% endif %}{% endblock %}

{% block body %}
<div id="part-edit">
    <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        {% block nav %}

        {% if object %}
        <a class="mt-2 center"
           title="{% trans "Back to document list" %}"
           href="{% url 'documents-list' slug=document.project.slug %}">
            <i class="fas fa-arrow-left"></i>
        </a>
        {% endif %}

      <a href="{% if object %}{% url 'document-update' pk=document.pk %}{% endif %}" class="nav-item nav-link {% block nav-doc-active %}{% endblock %}" id="nav-doc-tab" role="tab" aria-controls="nav-doc" aria-selected="true">{% trans "Description" %}</a>
      <a href="{% if object %}{% url 'document-images' pk=document.pk %}{% else %}#{% endif %}" class="nav-item nav-link {% if not object %}disabled{% endif %} {% block nav-images-active %}{% endblock %}" id="nav-img-tab" role="tab" aria-controls="nav-img" aria-selected="true">{% trans "Images" %}</a>
      <a href="{% if document  %}{% url 'document-part-edit' pk=document.pk %}{% else %}#{% endif %}" class="nav-item nav-link {% block nav-edit-active %}{% endblock %}{% if not object or not document.parts.count %}disabled{% endif %}" id="nav-edit-tab" role="tab" aria-controls="nav-doc" aria-selected="true">{% trans "Edit" %}</a>
      {% with models_count=document.ocr_models.count %}
      <a href="{% if document and models_count %}{% url 'document-models' document_pk=document.pk %}{% else %}#{% endif %}" class="nav-item nav-link {% if not document or not models_count %}disabled{% endif %}" id="nav-models-tab" role="tab" aria-controls="nav-doc" aria-selected="true">{% trans "Models" %}</a>
      {% endwith %}

      {% endblock nav %}

      {% block extra_nav %}
      <div class="nav-div nav-item ml-5">{{document.name}}</div>
      {% endblock %}
    </div>
  </nav>

  {% block tab_content %}{% endblock %}
</div>
{% block modals %}{% endblock %}
{% endblock %}
